<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FilmVerse.mapper.MemberMapper">

	<!-- 아이디 중복검사 -->
    <select id="checkId" resultType="_int">
        select count(*) from member where id = #{id}
    </select>
    
    <!-- 닉네임 중복검사 -->
    <select id="checkNick" resultType="_int">
        select count(*) from member where nick = #{nickName}
    </select>
    
    <!-- 회원등록 -->
    <insert id="join" parameterType="com.example.FilmVerse.dto.MemberDTO">
    	insert into member (m_idx, id, nick, pw)
    		values (member_seq.nextval, #{id}, #{nickName}, #{pw})
    </insert>
    
    <!-- 로그인 -->
    <select id="login" parameterType="com.example.FilmVerse.dto.MemberDTO"
    	resultType="_int">
    	select count(*) from member
    		where id = #{id} and pw = #{pw}
    </select>

</mapper>